<p style="color: green"><%= notice %></p>

<h1>Task lists</h1>

<div id="task_lists">
  <% @task_lists.each do |task_list| %>
    <%= render task_list %>
    <p>
      <%= link_to "Show this task list", task_list %>
    </p>
  <% end %>
</div>

<%= link_to "New task list", new_task_list_path %>
