<p style="color: green"><%= notice %></p>

<h1>Task Lists</h1>

<table id="task_lists">
  <thead>
    <tr>
      <th>List</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @task_lists %>
  </tbody>
</table>

<%= link_to "Create new task list", new_task_list_path %>
